<h3>About Us</h3>

<img style="float:right;padding:5px" src='https://scontent-a-sjc.xx.fbcdn.net/hphotos-frc1/431283_10150588037645949_1409748653_n.jpg' height='350' width='350'>
<br>

<p>The Las Vegas Track Club is an all-volunteer, non-profit running organization that was incorporated in the state of Nevada in April, 1969. We are walkers, joggers and runners who have embraced walking, jogging and running as lifetime fitness activities. Our mission is to support youth running in southern Nevada, and we do that by making very generous donations to youth running teams and high school cross country and track teams, and by giving scholarships to worthy graduating high school seniors.</p>

<p>We work very closely with local charities who stage walking, jogging and running events to maintain a common calendar so that every event has a chance for success. We also stage our own running events when there is nothing else on the weekend calendar. We have over 1,000 members from 23 states, and we are always delighted to have new friends to walk, jog, and run with.</p>

<p>Our website has an extensive race calendar that features all local races and running events. If you want to race a 5K, 10K, half marathon, marathon, ultra distance, or track event, it will be listed on the LVTC race schedule. The calendar also has a large list of local training runs. The local running links page has links to local running clubs, bike and triathlon clubs, places to run, local government recreation, speciality running stores, race timing, and running companies. If you are interested in running a 5K, 10K, half marathon, marathon, ultra distance, track event or training run, please check out our running calendar.</p>

<p>LVTC events are open to all runners; sign up starts about a half hour before the race. The race fee is usually $3 for members, $5 for non-members. Students 19 and under receive a $1 discount. Almost all races are separated into sex and age categories, with ribbons awarded to the top five finishers in each division. In an effort to encourage young runners to join us, the LVTC does not charge for runners 10 years of age or younger.</p>
<br>

<h3>LVTC Contacts</h3>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Position</th>
		<th>Email</th>
		<th>Phone</th>
	</thead>
	<tbody>
		<tr>
			<td>Tim Kelly</td>
			<td>President</td>
			<td></td>
			<td>(702) 882-3288</td>
		</tr>
		<tr>
			<td>James Alejandro</td>
			<td>1st Vice President</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Betty Cook</td>
			<td>2nd Vice President</td>
			<td></td>
			<td>(702) 672-5525</td>
		</tr>
		<tr>
			<td>Werner Hellmuth</td>
			<td>3rd Vice President</td>
			<td></td>
			<td>(702) 735-3662</td>
		</tr>
		<tr>
			<td>Mike Reago</td>
			<td>Secretary</td>
			<td></td>
			<td>(702) 385-4717</td>
		</tr>
		<tr>
			<td>Ryan Young</td>
			<td>Ryan Young</td>
			<td></td>
			<td>(702) 526-1098</td>
		</tr>
		<tr>
			<td>Lee Beausoleil</td>
			<td>Membership Chair</td>
			<td></td>
			<td>(575) 218-5602</td>
		</tr>
		<tr>
			<td>Rachel Warbelow</td>
			<td>Events Schedule Chair</td>
			<td></td>
			<td>(812) 322-7607</td>
		</tr>
	</tbody>
</table>
