<h3>LVTC Contacts</h3>

<table>
	<thead>
		<th>Name</th>
		<th>Position</th>
		<th>Email</th>
		<th>Phone</th>
	</thead>
	<tbody>
		<tr>
			<td>Tim Kelly</td>
			<td>President</td>
			<td></td>
			<td>(702) 882-3288</td>
		</tr>
		<tr>
			<td>James Alejandro</td>
			<td>1st Vice President</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Betty Cook</td>
			<td>2nd Vice President</td>
			<td></td>
			<td>(702) 672-5525</td>
		</tr>
		<tr>
			<td>Werner Hellmuth</td>
			<td>3rd Vice President</td>
			<td></td>
			<td>(702) 735-3662</td>
		</tr>
		<tr>
			<td>Mike Reago</td>
			<td>Secretary</td>
			<td></td>
			<td>(702) 385-4717</td>
		</tr>
		<tr>
			<td>Ryan Young</td>
			<td>Ryan Young</td>
			<td></td>
			<td>(702) 526-1098</td>
		</tr>
		<tr>
			<td>Lee Beausoleil</td>
			<td>Membership Chair</td>
			<td></td>
			<td>(575) 218-5602</td>
		</tr>
		<tr>
			<td>Rachel Warbelow</td>
			<td>Events Schedule Chair</td>
			<td></td>
			<td>(812) 322-7607</td>
		</tr>
	</tbody>
</table>
