

<p>The Las Vegas Track Club was incorporated in Nevada in April, 1969 and is still the only non-profit running organization in Southern Nevada. Our goal is to help our members, our visitors and guests enjoy running and walking as a lifetime fitness activity. Throughout the year we host youth scholarship fundraisers and other events to help support young runners from elementary school through high school. All profits from our events are given back to the community in the form of grants to area youth running teams, and as scholarships to local high school seniors. Today we have nearly 1200 positive, upbeat members of all ages and abilities who have made walking or running a part of their active lifestyle. We would be delighted to have you be a part of the fun.</p>
<br>


<div class='text-center'>
	<%= link_to "Join LVTC", membership_type_path, :class => 'btn btn-large btn-info' %>
	<%= link_to "Renew Membership", about_path, :class => 'btn btn-large btn-info' %>
</div>
